


body{
    background-color: #f8e8ee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/*Logo*/
#logo{
    height: 70px;
    position: relative;
    display: block;
    max-width: 245px;
    margin: auto;
    margin-top: 15px;
    top: 50%;
    
    
}

.logo2 {
    display: none;
}
/*Search box*/
.search {
    border-radius: 50px 0 0 50px;
    width: 250px;
    height: 44px;
    padding: 20px;
    background-color: #f5f5f5;
    border: none;
}

.search:focus {
    outline: none;
}

.search_btn {
    width: 80px;
    height: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0 50px 50px 0;
    background-color: #2444aa;
    color: #f5f5f5;
    border: 0;
    margin-left: -5px;
    font-size: medium;
    transition-duration: 0.2s;
}

.search_btn:hover {
    color: #f5f0f0;
    background-color:  #0f0ca5;
}

.search_btn:focus {
    outline: none;
}

@media screen and (max-width: 970px) {
    .search, .search_btn {
        display: none;
    }  
}






/*Navbar*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #ee5cb1;
    font-family: 'Poppins', sans-serif;
}


.navbar form {
    display: flex;
}
.nav-link{
    text-shadow: 1px 1px 1px rgba(34,34,34,0.35);
    
}
.nav-links li{
   list-style: none;

}
.nav-link a{
    color: #fff;
    text-shadow: 1px 1px 1px rgba(34,34,34,0.35);
    text-decoration:none ;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-link a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
}

.nav-link a:hover::after {
    width: 100%;
    transition: width .3s;
}


.burger{
display: none;
cursor: pointer;

}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #0f0ca5;
    margin: 5px;
    transition: all 0.3s ease;
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg )translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/*Parent*/
#parent-div{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}



/* Menu + SLIDER  */
#sidebar_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Menu*/
#sidebar {
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-right: 25px;
}

#sidebar #container {
    margin-left: 30px;
}

#sidebar p {
    font-size: 18px;
    border-bottom: 1px solid rgb(201, 196, 196);
}

.side_h3 {
    font-family: 'Leckerli One', cursive;
    margin-top: 10px;
    width: 25%;
    font-size: 40px;
}

#sidebar a {
    text-decoration: none;
    color: #333;
    transition-duration: 0.4s;
}

#sidebar a:hover {
    color: #f34a8b;
}

@media screen and (max-width: 970px) {
    /*Menu*/
    #sidebar {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .side_h3 {
        margin-top: 10px;
    }

    #sidebar p {
        width: 100%;
        font-size: large;
    }

    #sidebar #container {
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }

    .carousel{
        width: 100%;
        margin-left: 20px;
    }
}

/* carousel */
.carousel {
    width: 43%;
    right: 19%;
    margin-top: 25px;
    justify-content: space-between;
}
ol.carousel-indicators li{
    background-color: #0f0ca5;    
}

    /*Post*/

    .post1{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: space-around;
        position: relative;
      

    }
    .div-post1{
        width: 40%;
    }
    .div-post2 {
        width: 40%;
    }

    .post1 h2 {
        font-size: 28px;
        color: #ec54ad;
        font-family: 'Leckerli One', cursive;
        margin: 7px;
        cursor: pointer;
    }

/*Bar*/
.bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f34a8b;
}

.bar-icon{
    padding: 20px;
}

.bar-icon i {
    font-size: 30px;
    color: #0f0ca5;
}

.bar-icon h4 , .bar-icon p {
    text-shadow: 1px 1px 1px rgba(34,34,34,0.35);
    color: #fff;
}

 /* button bar */
 .btn {
    background:#2142ad;
    color: #fff;
}

.btn:hover{
    background-color: #0f0ca5;
    color: #fff;
}

.icon-bar {
    font-size: 38px;
}


/*Container*/

.wrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    min-height: 90vw;
    top: 0px;

    
}

.sell-widget{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
  
.sell-widget h4 {
    font-size: 28px;
    color: #ec6cb7;
    font-family: 'Leckerli One', cursive;
    margin: 7px;
    cursor: pointer;

}

.sell-widget p {
    font-size: 22px;
    font-family: 'Poopins',sans-serif ;
    margin-left: 10px;
    cursor: pointer;
}


.btn1 {
    background: none;
    color: #f34a8b;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 3px solid #f34a8b;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;


}

.btn1:focus{
    outline: none;
}

.btn1::before {
    display: block;
    position: absolute;
    background: #f34a8b;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    transform: translateX(-130px) skewX(-15deg);
}

.btn1:after{
    content: "";
    display: block;
    position: absolute;
    background: #f34a8b;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    transform: translateX(-100px) scaleX(-15deg);
}

.btn1:hover{
    letter-spacing: 2px;
    background: #f34a8b;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(34,34,34,0.35);
    cursor: pointer;
}

.btn:hover::before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

.btn:hover::after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}




/*Sell Widgets*/
.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.single-image{    
    padding: 20px 20px 20px;
    cursor: pointer;
    transition: .5s ease;
    transition-duration: 7.s;
    backface-visibility: hidden;
}


    /*Image Hover*/
.single-image img:hover {
    opacity: 0.8;
}


/**/



.single-image h4 {
    
    font-size: 28px;
    color: #ec6cb7;
    font-family: 'Leckerli One', cursive;
    margin: 7px;
    cursor: pointer;
}

.single-image p {
    font-size: 20px;
    font-family: 'Poopins',sans-serif ;
    margin-left: 10px;
}



.btn1 {
    background: none;
    color: #f34a8b;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 3px solid #f34a8b;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;


}



.btn1:focus{
    outline: none;
}

.btn1::before {
    display: block;
    position: absolute;
    background: #f34a8b;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    transform: translateX(-130px) skewX(-15deg);
}

.btn1:after{
    content: "";
    display: block;
    position: absolute;
    background: #f34a8b;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    transform: translateX(-100px) scaleX(-15deg);
}

.btn1:hover{
    letter-spacing: 1px;
    background: #f34a8b;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(34,34,34,0.35);
    cursor: pointer;
}

.btn:hover::before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

.btn:hover::after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .5s;
}


    /*Last Post*/

    .lp{
        width: 22%;
        margin-bottom: 20px;
    }

    .lp p {
        font-size: 14px;
    }
    .lp-text h2{
        text-align: center;
        font-family: 'Leckerli One', cursive;
        color: #86471c;
        font-size: 32px;
    }
    .lp-text p {
        text-align: center;
        padding: 10px;
    }
    .lp img {
        width: 300px;
        height: 320px;
    }

    .lp h3 {
        font-size: 16px;
        margin: 10px;
    }


    .last-post {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
/*  PRE-FOOTER  */
#pre_footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 150px;
    padding: 10px;
}

.pre_widget {
    margin-left: 70px;
    width: 20%;
    opacity: 0.9;
    cursor: pointer;
}
.pre_widget:hover {
    opacity: 1;
}








/*  PRE-FOOTER1 */
#pre_footer1 {
    width: 100%;
    background-color: #f34a8b;
    height: 120px;  
    padding: 20px;
}

#container2 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#container2 form {
    display: flex;
}

.pre1 {
    width: 40%;
}

.pre1 .envelope {
    float: left;
    padding: 15px;
}

.pre1 div {
    color: white;
    padding-top: 15px;
}

.search-foo {
    border-radius: 50px 0 0 50px;
    width: 250px;
    height: 44px;
    padding: 20px;
    background-color: #f5f5f5;
    border: none;
}

.search-foo:focus {
    outline: none;
}

.search_btn-foo {
    width: 80px;
    height: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0 50px 50px 0;
    background-color: #2444aa;
    color: #f5f5f5;
    border: 0;
    margin-left: -5px;
    font-size: medium;
    transition-duration: 0.2s;
}

.search_btn-foo:hover {
    color: #f5f0f0;
    background-color:  #0f0ca5;
}

.search_btn-foo:focus {
    outline: none;
}

.search_btn {
    font-weight: 500;
}

.search_btn-foo {
    font-size: 500;
}

.search-foo::placeholder {
    font-weight: 600;
}






/*Footer*/

footer{
    background:snow;
    padding: 90px 0;
    height: 250px;
}

.footer-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: reverse;

}

.pre {
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
}
.pre h3 {
    font-family: 'Leckerli One', cursive;
    color: #0f0ca5;
}

.pre1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: small;
    margin-top: 15px;
}

.pre1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pre1 li {
    margin-bottom: 11px;
}

.pre1 label {
    display: block;
    color: #292929;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 0;
}

.pre p {
    color: #333;
    font-size: 15px;
    margin-top: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s ;
}

.pre p:hover {
    color: #f34a8b
}

.footer-logo{
    width: 300px;
}

.social-media{
    margin: 20px 0;
}

.social-media a {
    color: #f34a8b;
    margin-right: 25px;
    font-size: 32px;
    text-decoration: none;
    transition: .3s linear;

}

.social-media a:hover{
    color:#e4236d ;
}

.txtb {
    border-radius: 50px 0 0 50px;
    width: 250px;
    height: 44px;
    padding: 20px;
    background-color: #ffffff;
    border: none;
}

.txtb:focus {
    outline: none;
}

.sbtn {
    width: 80px;
    height: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0 50px 50px 0;
    background-color: #2142ad;
    color: #f5f5f5;
    border: 0;
    margin-left: -5px;
    font-size: medium;
    transition-duration: 0.2s;
}

.sbtn:hover {
    color: #f5f0f0;
    background-color:  #0f0ca5;
}

.sbtn:focus {
    outline: none;
}









/*PAGES STYLE*/


/*----*/

        
/* DETAIL  */
.detail-sec {
    background-color: white;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.detail-img {
    width: 40%;
}

.img_desc {
    width: 60%;
}

.pinkk {
    color: #f329c0;
    font-family: 'Leckerli One', cursive;
}


    /*Contact Us*/

.contact-container , .contact-container input , .contact-container button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.4px;
}

.background{
    display: flex;
    min-height: 75vh;
}

.contact-container{
    flex: 0 1 700px;
    margin: auto;
    padding: 20px;
}

.left-img {
    width: auto;
    display: flex;
    position: absolute;
    margin-left: 30px;
    top: 50%;
}

.right-img{
    width: auto;
    display: flex;
    position: absolute;
    margin-right: 30px;
    right: 0;
    top: 50%;
}

.screen {
    align-content: center;
    position: relative ;
    /**background-color: #333333;*/
    background-color: #fcacca;
    border-radius: 15px;
}

.screen:after{
content: "";
display: block;
position: absolute;
top: 0;
left: 20px;
right: 20px;
bottom: 0;
z-index: -1;
border-radius: 15px;
box-shadow:0 20px 40px rgba(0,0,0,0.4) ;
}

.screen-header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f329c0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width:8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background-color: #fff;
}


.screen-header-button.maximize {
    background-color: #e8e925;
}

.screen-header-button.minimize {
    background-color: #74c54f ;
}

.screen-header-button.open{
    background-color: #da0610;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellips {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background-color: #fff;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
}

.app-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom:-10px;
    width: 25px;
    height: 4px;
    background-color:#ea1d6f;
}

.app-contact {
    margin-top:auto;
    font-size: 11px;
    color:#666;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0px;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
     border-bottom: 1px solid #666;
     color: #fff;
     text-shadow: 1px 1px 1px rgba(34,34,34,0.35);
     font-size: 14px;
     text-transform: uppercase;
     outline: none;
     transition: border-color 0.2s;
}

.app-form-control::placeholder {
    color:#666;
    text-shadow: none;
}

.app-form-control:focus {
    border-bottom-color:1px solid #ddd;
}

.app-form-button {
    background-color: transparent;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #b9134f;
}




    /*Gift Cards*/

    .gift-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

    .gift-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 40px;
    }


    .heading h2 , .heading span {
        top: 10px;
        font-family: 'Leckerli One', cursive;
        margin-left: 10px;
    }

    .new{
        color: #ee66b5;
    }

    .new2 {
        color: rgb(39, 117, 206);
    }


    
.image{
    display:block;
    position: relative;
    left: 0;
}



h2  {
    font-family: 'Leckerli One', cursive;
    margin-left: 10px;
}

.top-t {
    font-family: 'Leckerli One', cursive;
}

.image-button {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #0f0ca5;
    
}

.image-button:hover{
    color: #2444aa;
    text-decoration: none;
}

    .calendar {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /*About Us*/

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gallery img {
        width: 31%;
        padding: 10px;
    }

    .gbtn a {
        text-decoration: none;
        color: #f329c0;

    }

    .gbtn a:hover {
        color: #fff;
    }

    .gallery-btn {
        text-align: center;
    }

    .title-about{
        font-family: 'Leckerli One', cursive;
        text-align: center;
        margin: 10px;
    }

.stoty{
    padding: 20px;
}

.story span{
    font-size: 19px;
    font-weight: 500;
}

.favourite{
    padding: 20px;
}

.favourite span {
    font-size: 19px;
    font-weight: 400;
}

.crave {
    padding: 20px;
}

.crave span {
    font-size: 19px;
    font-weight: 400;
}





/*Our Adress*/

.adress-title {
    color: #f34a8b;
    font-family: 'Leckerli One', cursive;
    margin: 10px;
    margin-left: 20px;
}

.map{
    padding: 20px;
}

.map-title {
    font-family: 'Leckerli One', cursive;
    margin: 10px;
    margin-left: 20px;
}

.adress span {
    font-family: 'Monteserat', sans-serif;
        font-size: 19px;
        font-weight: 500;
        padding: 20px;
}

.contact-title{
    color: #1310b1;
    font-family: 'Leckerli One', cursive;
    margin: 10px;
    margin-left: 20px;
}

.adress-contacts span {
    font-family: 'Monteserat', sans-serif;
    font-size: 19px;
        font-weight: 500;
        padding: 20px;
}


.schedule-title h2 {
    color: #f34a8b;
    font-family: 'Leckerli One', cursive;
    margin: 10px;
    margin-left: 20px;
}




/**/
.schedule {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 15px;
    border: rgb(165, 163, 163) 1px solid;
    margin-bottom: 25px;
}

.graph_widget {
    width: 25%;
    margin-left: 20px;

}

.p_head {
    color: #555;
    font-weight: 900;
}







    /*Media!*/


@media screen and (max-width:1024px){
    .navbar navbar-expand-lg navbar-dark {
        width: 100%;
    }
    
    .nav-links{
        width: 60%;
    }

    #sidebar_content{
        display: flex;
        width: 100%;
        position: relative;
    }

    .sidebar {
        width: 50%;
    }
    .carousel {
        width: 50%;
        left: 0%;
    }
    .div-post1 img {
        width: 480px;
    }
    .div-post2 img {
        width: 490px;
    }
    .div-post1 {
        width: 50%;
    }
    .div-post2 {
        width: 50%;
    }

    .img-area {
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }

    .single-image {
        justify-content: center;
    }

    .last-post {
        width: 100%;
        justify-content: space-between;
    }

    .lp img {
        width: 225px;
        height: 240px;
        padding: 10px;
    }

}

@media screen and (max-width: 970px) {
    .carousel {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    .container{
        min-height: 100vw;
    }

}

@media screen and (max-width:960px) {
    .image {
        margin-right: 10px 0;
    }
    .imgd {
        display: none;
    }
    .footer-container{
        max-width: 600px;
        margin-top: 2800px;
    }
    .right-col {
        width: 100%;
        margin-bottom: 60px;
    }
    .left-col {
        width: 100%;
        text-align: center;
    }
    .container{
        min-height: 100vw;
    }


}

@media screen and (max-width:931px){
    #sidebar {
        width: 25%;
    }

    .carousel {
        width: 50%;
    }
    
    .post1 p {
        width: 405px;
    }

    .div-post1 img {
        width: 450px;
        height: 270px;
        padding: 10px;
    }

    .div-post2 img {
        width: 450px;
        height: 270px;
        padding: 10px;
    }

    .last-post img {
        width: 180px;
        height: 200px;
    }

    .lp {
        padding: 20px;
        text-align: center;
    }

    .last-post {
        justify-content: space-around;
    }

    .footer-container {
        margin-top: 0;
    }
} 

@media screen and (max-width:920px){
    #sidebar {
        width: 25%;
    }

    .carousel {
        width: 50%;
    }
    .footer-container {
        margin-top: 0;
    }
}



@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    #parent-div{
            flex-direction: column;
    }

    .single-image{
        padding: 10px 10px 10px;
        width: 100%;
        text-align: center;
    }

    .navbar {
        width: 100%;
    }

    #sidebar h3 {
        margin-right: 80px;
    }

    .carousel {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .post1 {
        flex-direction: column;
        padding: 20px;
        text-align: center;

    }

    .post1 p {
        width: 100%;
    }
    .post1 h2 {
        margin-left: 20px;
    }

    .post1 p {
        justify-content: center;
    }
    .div-post1 img {
        width: 350px;
        height: 200px;
        padding-right: 20px;
    }


    .div-post2 img {
        width: 350px;
        height: 200px;
        padding-right: 20px;
    }

        .div-post1 {
            width: 100%;
        }
        .post-text {
            width: 100%;
        }     

        .div-post2 {
            width: 100%;
        }

        

        #logo{
            min-height: 15vh;
        }

        .logo{
            display: none;
            
        }
    .logo2{
        display: block;
        height: 80px;
        position: relative;
        max-width: 245px;
        margin: auto;
        margin-bottom: 10px;
        
    }

    .image{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
    .heading{
        font-size: 30px;
    }

    .image-text{
        font-size: 15px;
        margin-left: 30px;
    }

    .bar {
        flex-direction: column;
        margin-top: 10px;
    }

    .btn {
        margin-top: 5px;
    }

    .last-post {
        flex-direction: column;
    }
    .lp {
        width: 100%;
    }
    .lp img {
        margin-left: 25%;
    }
    .lp h3 {
        text-align: center;
    }
    .lp p {
        flex-direction: row;
        text-align: center;
        padding: 10px;
    }

    #pre_footer1 {
        height: 230px;
        padding: 20px;
    }

    .envelope {
        display: flex;
        justify-content: flex-start;
    }

    .pre1 div {
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        align-items: center;
    }
    #container2 {
        flex-direction: column;
        justify-content: center;
    }

    .search-foo {
        width: 200px;
    }

    .search_btn-foo {
        width: 70px;
    }

    #container2 form {
        display: flex;
        justify-content: center;
    }

    .pre1, .div {
        display: flex;
        justify-content: center;
    }



    #index-gallery {
        margin-top: 2200px;
    }
    .footer-container{
        top: 1000px;
    }

    #pre_footer {
        width: 100%;
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        height: 600px;
    }

    .pre_widget {
        transform: translate(-50px,0);
        justify-content: center;
        
    }

    .footer-container{
        margin-top: 0px;
        flex-direction: column;
    }
    div.left-col {
        width: 100%;
    }

    .footer-container{
        width: 290px;
    }

    footer {
        height: 100%;
    }

    .giftcard1 {
        width: 380px;
    }
    .giftcard2 {
        width: 380px;
    }

    .giftcard1 img {
        width: 350px;
        height: 350px;
    }

    .giftcard2 img {
        width: 350px;
        height: 350px;
    }



    .gallery {
        width: 100%;
        flex-direction: column;
    }

    .gallery img {
        width: 370px !important;
        height: 320px;
    }

    .top-img img {
        width: 360px;
        height: 120px;
        margin-top: 20px;
        margin-left: 8px;
    }

    .detail-img {
        position: relative;
        margin-right: 190px;
    }

    .img_desc {
        margin-top: 10%;
        margin-right: 30px;
    }

    .f1 {
        width: 350px ;
        height: 350px;
        margin-bottom: 10px;
    }

    .f2 {
        width: 350px;
        height: 263px;
    }

    .ca1 {
        margin-bottom: 20px;
    }

    .schedule {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .graph_widget {
        width: 100% !important; 
    }
    
    

}

@media screen and (max-width:414px) {
    #sidebar{
        margin-left: 10px;
    }

    .lp img {
        margin-left: 10px;
    }


}

@media screen and (max-width:320px) {
    #sidebar {
     margin-right: 300px;
    }

    .single-image img {
        width: 300px;
        height: 339px;
    }

    .post1 img{
        width: 300px;
        height: 180px;
    }

    .pre {
        width: 240px;
        margin-right: 50px;
    }

    .search-foo {
        width: 200px;
    }
    .lp img {
        margin-left: 10px;
    }

    .detail-img img {
        width: 300px;
    }

    
    .gallery img {
        width: 320px !important;
        height: 300px;
    }

}

    @media screen and (max-width:411px) {
        #sidebar {
            margin-left: 10px;
        }

        .lp img {
            margin-left: 10px;
        }

    }
    
    @media screen and (max-width:520px) {
        .screen-body {
            flex-direction: column;
        }
        .screen-body-item.left {
            margin-bottom: 30px;
        }
    
        .app-title {
            flex-direction: row;
        }
    
        .app-title span {
            margin-right: 12px;
        }
    
        .app-title:after{
            display: none;
        }
    }
    
    
    @media screen and (max-width:600px) {
        .screen-body{
            padding: 40px;
        }
    
        .screen-body-item{
            padding: 0;
        }
    }
    

